@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --background: 248 245 252; /* soft lavender-tinted white */
  --surface: 255 255 255;
  --primary: 142 120 200; /* lavender */
  --primary-hover: 124 105 180; /* deeper lavender */
  --primary-txt: 255 255 255;

  --text-primary: 30 30 30; /* near black */
  --text-secondary: 90 90 90; /* gray */
  --text-muted: 140 140 140;

  --hover-bg: 240 238 250; /* faint lavender background */

  --color-background: rgb(var(--background));
  --color-surface: rgb(var(--surface));
  --color-primary: rgb(var(--primary));
  --color-primary-hover: rgb(var(--primary-hover));
  --color-primary-txt: rgb(var(--primary-txt));
  --color-text-primary: rgb(var(--text-primary));
  --color-text-secondary: rgb(var(--text-secondary));
  --color-text-muted: rgb(var(--text-muted));
  --color-hover-bg: rgb(var(--hover-bg));
}

.dark {
  --background: 22 20 30; /* dark indigo-lavender */
  --surface: 35 33 45; /* soft deep purple-gray */
  --primary: 173 142 255; /* brighter lavender */
  --primary-hover: 196 170 255; /* even more vibrant */
  --primary-txt: 20 20 20;

  --text-primary: 230 230 230;
  --text-secondary: 180 180 180;
  --text-muted: 150 150 150;

  --hover-bg: 48 44 60; /* muted lavender-gray */

  --color-background: rgb(var(--background));
  --color-surface: rgb(var(--surface));
  --color-primary: rgb(var(--primary));
  --color-primary-hover: rgb(var(--primary-hover));
  --color-primary-txt: rgb(var(--primary-txt));
  --color-text-primary: rgb(var(--text-primary));
  --color-text-secondary: rgb(var(--text-secondary));
  --color-text-muted: rgb(var(--text-muted));
  --color-hover-bg: rgb(var(--hover-bg));
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: "Lexend", sans-serif;
  position: relative;
}

main {
  min-height: 100vh;
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
}

pre {
  text-wrap: wrap;
  font-family: "Lexend", sans-serif;
}

.primary-btn {
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  color: var(--color-primary-txt);
  background-color: rgba(var(--primary));
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  &:hover {
    background-color: var(--color-primary-hover);
  }

  transition: background-color ease-in-out 150ms;
}

.secondary-btn {
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  color: var(--color-primary-txt);
  background-color: rgba(var(--primary) / 0.4);
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  &:hover {
    background-color: var(--color-primary-hover);
  }

  transition: background-color ease-in-out 150ms;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(var(--background));
}
